@import 'import';
.view {
  max-width: 1024px;
  margin: 0 auto;
}
.header {
  padding: 3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media($m-middle) {
    padding: 1rem;
  }
}
.body {
  padding: 0 1rem;
  @include media($m-middle) {
    padding: 0;
  }
}
