@import 'import';
.footerLeft,
.footerRight {
  font-size: 0.9rem;
  font-family: $font-code;
  @include media($m-middle) {
    margin: 0.2rem;
  }
}
.footerLeft a {
  margin-left: 0.2rem;
  color: $c-primary;
}
.footerRight a {
  margin-left: 0.2rem;
}
