@import 'import';
.loading {
  text-align: center;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingBadge {
  text-align: center;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase {
  padding: 2rem;
  background: linear-gradient(to bottom, #333 0%, #2a2a2a 100%);
  box-shadow: 0 4px 8px rgba(#000, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  > span {
    display: flex;
    align-items: center;
    text-shadow: 0 2px 4px rgba(#000, 0.2);
  }
  @include media($m-middle) {
    padding: 1rem;
    flex-direction: column;
    box-shadow: none;
    > span {
      padding: 0.5rem 0;
    }
  }
}

.badge {
  border: 0.3rem solid rgba(#fff, 0.2);
  box-shadow: 0 4px 8px rgba(#000, 0.5);
  @include media($m-middle) {
    transform: scale(0.8);
  }
}
.avatarContent {
  margin-left: 1.5rem;
  @include media($m-middle) {
    margin-left: 0.5rem;
    flex: 1;
    padding-right: 1rem;
  }
}
.username {
  color: $c-font-yellow;
  font-weight: 600;
  font-size: 1.8rem;
  @include media($m-middle) {
    font-size: 1.3rem;
  }
}
.progress {
  margin-top: 0.25rem;
  @include media($m-middle) {
    margin-top: 0rem;
  }
  .desc {
    margin-top: 0.2rem;
    font-size: 0.8rem;
    color: #c2c2c2;
  }
}
.right {
  display: flex;
  > div + div {
    margin-left: 1rem;
  }
  @include media($m-middle) {
    margin-top: 1rem;
    > div {
      margin: 0 !important;
      transform: scale(0.75);
    }
  }
}
.tooltip {
  font-size: 0.8rem;
  > div + div {
    margin-top: 0.5rem;
    span {
      color: $c-primary;
      font-weight: 600;
    }
  }
  span {
    color: $c-font-yellow;
    font-weight: 600;
  }
}
