@import 'import';
.avatar {
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(#000, 0.5);
  border: 3px solid #fff;
}

.right {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.content {
  text-align: right;
  margin-right: 1rem;
  text-shadow: 0 2px 4px rgba(#000, 0.5);
}

.username {
  color: $c-font-yellow;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}
