@import 'import';

.right {
  color: #eee;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.content {
  text-align: right;
  text-shadow: 0 2px 4px rgba(#000, 0.5);
  @include media($m-large) {
    margin-right: 2rem;
  }
  @include media($m-middle) {
    margin-right: 3rem;
  }
}

.username {
  color: $c-font-yellow;
  font-size: 0.9rem;
  margin-top: 0.2rem;
}
