@import 'import';
.roomView {
  margin-top: 1rem;
  background: rgba(#333, 0.2);
  box-shadow: 0 4px 8px rgba(#000, 0.2);
  @include media($m-middle) {
    box-shadow: 0 4px 24px rgba(#000, 0.1);
  }
}
.header {
  padding: 0.5rem 1rem;
  background: rgba(#333, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media($m-middle) {
    flex-direction: column;
    .left {
      padding: 0.5rem 0;
    }
  }
  .right {
    display: flex;
    > div {
      margin-left: -1rem;
      &:first-child {
        margin-right: 0.25rem;
      }
    }
    @include media($m-middle) {
      .rclChart {
        display: none;
      }
      > div {
        margin: 0 !important;
      }
    }
  }
}
.body {
  padding: 0.8rem 0;
  > div {
    padding: 0.8rem 1rem;
  }
}
.title {
  font-weight: 600;
  text-shadow: 0 2px 4px rgba(#000, 0.2);
}
.desc {
  margin-top: 0.2rem;
  font-size: 0.8rem;
  color: #c2c2c2;
}
.left {
  display: flex;
  align-items: center;
  color: #eee;
}
.content {
  margin-left: 1rem;
}
.storage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include media($m-middle) {
    flex-direction: column;

    &:first-child {
      border-bottom: 1px solid rgba(#fff, 0.05);
    }
  }
  .list {
    margin-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include media($m-middle) {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
}
.resCell {
  min-width: 3rem;
  + .resCell {
    margin-left: 0.2rem;
  }
  @include media($m-middle) {
    min-width: 4rem;
    margin-bottom: 0.5rem;
  }
  > div {
    height: 1.5rem;
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .value {
    border-radius: 0.2rem;
    color: #999;
    background: rgba(#000, 0.2);
    font-size: 0.8rem;
    font-family: $font-code;
  }
}
.order {
  display: flex;
  justify-content: space-between;
  @include media($m-middle) {
    flex-direction: column;
    margin: 0 -1rem;
    > div {
      margin: 0 !important;
    }
  }
  .title {
    font-size: 0.95rem;
  }
  .orderList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #999;
    width: 100%;
    > div {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.5rem;
      > span {
        margin-left: 0.5rem;
        color: #eee;
        font-family: $font-code;
      }
    }
  }
  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: rgba(#000, 0.2);
    flex: 1;
    flex-direction: column;
    + div {
      margin-left: 0.5rem;
    }
  }
}
.creep {
  display: flex;
  flex-wrap: wrap;
  @include media($m-middle) {
    padding: 0.75rem;
  }
}
.roleBox {
  background: rgba(#fff, 0.02);
  flex: 1;
  box-shadow: 0 4px 24px rgba(#000, 0.2);
  padding: 1rem;
  flex-direction: column;
  display: flex;
  @include media($m-middle) {
    min-width: 30%;
    margin: 0.25rem !important;
  }
  .title {
    font-size: 0.8rem;
    text-align: center;
  }
  + .roleBox {
    margin-left: 0.5rem;
  }
}
.creepBox {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.tooltip {
  font-size: 0.8rem;
  > div + div {
    margin-top: 0.5rem;
    span {
      color: $c-primary;
      font-weight: 600;
    }
  }
  span {
    color: $c-font-yellow;
    font-weight: 600;
  }
}
.creepTooltip {
  font-size: 0.8rem;
  color: #999;
  > div + div {
    margin-top: 0.5rem;
  }
  span {
    color: #fff;
    font-weight: 600;
  }
  .name span {
    color: $c-font-yellow;
    font-weight: 600;
  }
  .home span {
    color: $c-primary;
    font-weight: 600;
  }
  .room span {
    color: $c-purple;
    font-weight: 600;
  }
}
.queueBox {
  width: 100% !important;
  .behaviour {
  }
  .target {
    font-size: 0.6rem;
    color: #999;
  }
}
