@import 'import';
.roomView {
  margin-top: 1rem;
  background: rgba(#333, 0.2);
  box-shadow: 0 4px 8px rgba(#000, 0.2);
  @include media($m-middle) {
    box-shadow: 0 4px 24px rgba(#000, 0.1);
  }
}
.header {
  padding: 0.5rem 1rem;
  background: rgba(#333, 0.5);
  .right {
    > div {
      margin-left: -1rem;
      &:first-child {
        margin-right: 0.25rem;
      }
    }
    @include media($m-middle) {
      .rclChart {
        display: none;
      }
      > div {
        margin: 0 !important;
      }
    }
  }
}
.body {
  padding: 0.8rem 0;
  > div {
    padding: 0.8rem 1rem;
  }
}

.resCell {
  min-width: 3rem;
  + .resCell {
    margin-left: 0.2rem;
  }
  @include media($m-middle) {
    min-width: 4rem;
    margin-bottom: 0.5rem;
  }
  > div {
    height: 1.5rem;
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .value {
    border-radius: 0.2rem;
    color: #999;
    background: rgba(#000, 0.2);
    font-size: 0.8rem;
    font-family: $font-code;
  }
}
.order {
  display: flex;
  justify-content: space-between;
  @include media($m-middle) {
    flex-direction: column;
    > div {
      margin: 0 !important;
    }
  }
  .title {
    font-size: 0.95rem;
  }
  .orderList {
    font-family: $font-code;
    font-size: 0.9rem;
    margin-top: 1rem;
    color: #999;
    > div {
      display: flex;

      margin-top: 0.5rem;
      > span {
        margin-left: 0.5rem;
        color: #eee;
      }
    }
    .send {
      > span {
        margin-right: 0.5rem;
      }
      > a {
        margin-left: 0.5rem;
      }
    }
  }
  > div {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 1.5rem;
    background: rgba(#000, 0.2);
    flex: 1;
    flex-direction: column;
    + div {
      margin-left: 2px;
    }
  }
}
.creep {
  display: flex;
  flex-wrap: wrap;
  @include media($m-middle) {
    padding: 0.75rem;
  }
}
.roleBox {
  background: #2a2a2a;
  flex: 1;
  box-shadow: 0 4px 24px rgba(#000, 0.2);
  padding: 1rem;
  flex-direction: column;
  display: flex;
  @include media($m-middle) {
    min-width: 30%;
    margin: 0.25rem !important;
  }
  .title {
    font-size: 0.8rem;
    text-align: center;
  }
  + .roleBox {
    margin-left: 2px;
  }
}
.creepBox {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.tooltip {
  font-size: 0.8rem;
  > div + div {
    margin-top: 0.5rem;
    span {
      color: $c-primary;
      font-weight: 600;
    }
  }
  span {
    color: $c-font-yellow;
    font-weight: 600;
  }
}
.creepTooltip {
  font-size: 0.8rem;
  color: #999;
  > div + div {
    margin-top: 0.5rem;
  }
  span {
    color: #fff;
    font-weight: 600;
  }
  .name span {
    color: $c-font-yellow;
    font-weight: 600;
  }
  .home span {
    color: $c-primary;
    font-weight: 600;
  }
  .room span {
    color: $c-purple;
    font-weight: 600;
  }
}
.queueBox {
  width: 100% !important;
  .behaviour {
  }
  .target {
    font-size: 0.6rem;
    color: #999;
  }
}

.labList {
  position: relative;
  min-width: 6rem;
  @include media($m-middle) {
    flex: 1;
    min-width: 40%;
    &:last-child {
      margin-top: 0.5rem;
      margin-left: 0;
    }
  }
  + .labList {
    margin-left: 2px;
  }
  .icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .value {
    padding: 0.4rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.2rem;
    margin-top: 0.2rem;
    background: rgba(#000, 0.2);
    font-size: 0.8rem;
    font-family: $font-code;
    > div {
      margin-right: 0.5rem;
      + div {
        margin-left: 1rem;
      }
    }
  }
}
