@import 'import';
$size: 4rem;
.box {
  padding: 0 0.6rem;
  height: $size;
  text-align: center;
  border-radius: 0.8rem;
  box-shadow: 0 4px 8px rgba(#000, 0.2);
  position: relative;
  border: 0.4rem solid;
}
.circle {
  padding: 0;
  border-radius: 100%;
  width: $size;
  min-width: $size;
}
.title {
  font-size: 0.7rem;
  padding-top: 0.6rem;
}
.value {
  font-weight: 800;
  font-size: 1.8rem;
}
.small {
  transform: scale(0.75);
}

.fixWidth {
  min-width: 6.5rem;
}
