@import 'import';
@import 'root';
body {
  background: #222;
  color: #fff;
}
html,
body,
:global(#root) {
  height: 100%;
}

div {
  box-sizing: content-box;
}

:global {
  .ant-progress > div {
    display: flex;
    align-items: center;
  }
  .ant-progress-inner {
    background-color: rgba(#000, 0.2);
  }
  .ant-progress-bg {
    background-color: #999;
  }
}
